@charset "utf-8";
.cuerpo .cabecera .logo {
    background-color: #FAD854;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    width: 25%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    clear: none;
}
.menu ul li a {
    color: #F3071D;
    float: left;
    font-size: large;
    text-align: center;
    padding-right: 30px;
    text-decoration: none;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
}
.menu ul li {
    list-style-type: none;
    color: #FFFFFF;
    float: none;
}


.cuerpo .cabecera .menu {
    width: 69%;
    overflow-x: hidden;
    overflow-y: hidden;
    float: right;
}
.cabecera .menu ul {
    float: right;
    width: 100%;
}

.cuerpo .cabecera {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #FAD854;
}
.cuerpo {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.cuerpo .contenido {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
}
.piedepagina {
    width: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
}
.cuerpo .cabecera .slider {
    width: 100%;
    float: left;
}
.cuerpo .contenido .paralax {
    width: 100%;
    height: 450px;
    background-image: url(../img/foto-compreas.jpg);
    background-attachment: fixed;
    padding-top: 159px;
}
.contenido .paralax p {
    color: rgba(99,98,98,1.00);
    text-align: center;
    font-size: x-large;
    margin-top: 0px;
    background-color: rgba(253,253,253,0.50);
    padding-top: 5px;
    padding-bottom: 5px;
}
